<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chinesemeggie</title>
</head>

<body
    style="font-family: Arial, Helvetica, sans-serif; padding: 0; margin: 0; box-sizing: border-box; font-size: 14px;">
    <main style="width: 100%; max-width: 600px; margin: auto; border: 1px solid rgb(240, 240, 240);
        box-shadow: rgba(67, 67, 67, 0.09) 0px 20px 30px;
        ">
        <section style="gap: 1rem; padding-inline: 1rem;">
            <div style="max-width: 420px; height: 200px; padding-top: 1rem;">
                <img src="<%= image %>" alt="product-image" style="width: 100%; height: 100%; object-fit: contain;" />
            </div>
            <div class="content">
                <p style="padding-block: 0.5rem;">Hi <%= name %>
                </p>
                <p style="padding-block: 0.5rem;">
                    Terima kasih ya sudah memilih Guide Book Meggie, <%= product %>! Meggie senang
                        bisa jadi bagian dari perjalanan kamu buat jadi dasar dan acuan belajar bahasa Mandarin dan
                        menjelajahi negeri China!
                </p>
                <p style="padding-block: 0.5rem;">
                    Guide Book kamu sudah siap untuk membantu mengenal frasa-frasa penting dalam bahasa Mandarin dan
                    tips perjalanan yang bermanfaat. Meggie yakin ini akan membuat perjalanan atau pembelajaran kamu
                    jadi lebih lancar dan tentunya lebih menyenangkan!

                </p>
                <p style="padding-block: 0.5rem;">
                    Lets stay connected!
                    Kalau ada pertanyaan atau butuh bantuan seputar guide book ini, jangan ragu untuk menghubungi Meggie
                    ya. Kamu bisa kirim pesan lewat DM Instagram dan WhatsApp.
                </p>

                <p style="padding-block: 0.5rem;">
                    Jika kamu ingin belajar lebih banyak, coba cek konten Meggie yang lain—dari percakapan dasar hingga
                    tips perjalanan lengkap di seluruh Tiongkok. Tinggal tanya, dan Meggie akan dengan senang hati
                    merekomendasikan langkah selanjutnya untuk kamu!
                </p>

                <p style="padding-block: 0.5rem;">
                    Terima kasih atas kepercayannya, dan selamat belajar bersama <%= product %>!
                </p>

                <p style="padding-block: 0.5rem;">Salam hangat <br>
                    <span style="font-weight: 700;">
                        Chinese with Meggie
                    </span>
                </p>

                <div>
                    <span style="font-size: 12.5px; color: gray;">akses konten dibawah ini</span>
                    <p style="text-decoration: underline;">
                        <%= link %>
                    </p>
                </div>
            </div>
        </section>
        <footer style="padding-block: 1.6rem !important;">
            <p>Copyright © 2024 | chinesewithmeggie</p>
        </footer>
    </main>
</body>

</html>